.recipe-name {
  cursor: pointer;
  width: max-content;
  display: table-cell;
}

.recipe-name:hover {
  text-decoration: underline;
}

::ng-deep body .ui-multiselect.gw2-business .ui-multiselect-panel {
    width: 200px;
}

::ng-deep body p-table .ui-sortable-column-icon {
  vertical-align: sub;
}

::ng-deep body p-checkbox {
  display: flex;

  .ui-chkbox {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.filters .mv-auto > * {
  margin-bottom: 0.5rem;
}

::ng-deep body .filters .mv-auto {

  .ui-multiselect.gw2-business {
    margin-bottom: 0.5rem;
  }

  .ui-dropdown.gw2-business {
    margin-bottom: 0.5rem;
  }
}
