<div *ngIf="mainDataReady" fxLayout="row nowrap" fxLayoutGap="1rem">
  <p-button (onClick)="uploadMainData()"
            label="Télécharger les données principales">
  </p-button>
  <div *ngIf="mainDataMessage" [ngClass]="{'color-red': mainDataMessageIsError, 'mv-auto': true}">
    {{mainDataMessage}} <span *ngIf="mainDataPercentage != null">{{mainDataPercentage}} %</span>
  </div>
</div>
<div *ngIf="items" fxLayout="row nowrap" fxLayoutGap="1rem">
  <p-button (onClick)="uploadPrices()"
            label="Télécharger les prix">
  </p-button>
  <div *ngIf="pricesMessage" class="mv-auto">
    {{pricesMessage}} <span *ngIf="pricesPercentage != null">{{pricesPercentage}} %</span>
  </div>
</div>
